<div class="container">
    <div class="row">
      <div class="form-floating mb-3 col-3">
        <input type="text" class="form-control" id="studentId" placeholder="Student Id" [(ngModel)]="studentId">
        <label for="floatingInput">Student Id</label>
      </div>
    </div>
    
    <div class="row">
      <div class="form-floating mb-3 col-3">
        <input type="text" class="form-control" id="studentName" placeholder="Student Name" [(ngModel)]="studentName">
        <label for="floatingPassword">Student Name</label>
      </div>  
    </div>
    
    <div class="row">
      <div class="form-floating mb-3 col-3">
        <input type="text" class="form-control" id="studentDesc" placeholder="Student Details" [(ngModel)]="studentDesc">
        <label for="floatingPassword">Student Details</label>
      </div>  
    </div>
    
      <a class="btn btn-primary" (click)="onSave()" routerLink="/list">Add</a>
  </div>
  <div class="row">
        <div *ngFor="let data of student; first as isFirst" style="padding-top: 20px;">
      
            <div *ngIf="isFirst"><h3 class="text-secondary">Available Student List : </h3></div>
      
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" (click)="data.show = !data.show">{{data.studentName}}</button>
            </div>
            
            <div class="card mt-3" *ngIf="data.show">
              <div class="card-body">
                Id : {{data.studentId}}<br>
                Name : {{data.studentName}}<br>
                Description : {{data.studentDesc}}
              </div>
            </div>
          </div>
    
  </div>
